<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com._1c.g5.v8.dt.team.ui.development.view">
         <separator
               name="dev.zigr.dt.team.ui.storage.separator1"
               visible="true">
         </separator>
         <menu
               icon="icons/lock.png"
               id="dev.zigr.dt.team.ui.storage.menu1"
               label="Хранилище конфигурации">
            <command
                  commandId="dev.zigr.dt.team.ui.storage.command.export"
                  id="dev.zigr.dt.team.ui.storage.command.export"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="com._1c.g5.v8.dt.team.git.infobases.IGitBranchIssueDescriptor">
                     </adapt>
                     <with
                           variable="selection">
                        <count
                              value="1">
                        </count>
                     </with>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="dev.zigr.dt.team.ui.storage.command.settings"
                  id="dev.zigr.dt.team.ui.storage.command.settings"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="com._1c.g5.v8.dt.core.platform.IConfigurationAware">
                     </adapt>
                     <with
                           variable="selection">
                        <count
                              value="1">
                        </count>
                     </with>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com._1c.g5.v8.dt.navigator.ui.navigator.popup">
         <separator
               name="dev.zigr.dt.team.ui.storage.separator2"
               visible="true">
         </separator>
         <menu
               icon="icons/lock.png"
               id="dev.zigr.dt.team.ui.storage.menu2"
               label="Хранилище конфигурации">
            <command
                  commandId="dev.zigr.dt.team.ui.storage.command.settings"
                  id="dev.zigr.dt.team.ui.storage.command.settings2"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                     <with
                           variable="selection">
                        <count
                              value="1">
                        </count>
                     </with>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="dev.zigr.dt.team.ui.storage.StorageUiExecutableExtensionFactory:dev.zigr.dt.team.ui.storage.ExportHandler"
            id="dev.zigr.dt.team.ui.storage.command.export"
            name="Поместить в хранилище">
      </command>
      <command
            defaultHandler="dev.zigr.dt.team.ui.storage.SettingsHandler"
            id="dev.zigr.dt.team.ui.storage.command.settings"
            name="Настройки">
      </command>
   </extension>

</plugin>
